.ctct_table.ctct-component-level-1,
.ctct_table.ctct-component-level-2,
.ctct_table.ctct-component-level-3 {
  margin-bottom: 10px;
}
.ctct_table .ctct-component-key-label {
  font-weight: bold;
}
.ctct_table.ctct-components-eventspot-guestsectionfield {
  border: none;
}
.ctct_table.ctct-components-eventspot-guestsectionfield * {
  display: inline-block;
}
.ctct_table.ctct-components-eventspot-registrant-registrantsectionfield .ctct-component-key-label td,
.ctct_table.ctct-components-eventspot-guestsectionfield .ctct-component-key-label td {
  font-weight: bold;
  display: inline-block;
}
.ctct_table.ctct-components-eventspot-registrant-registrantsectionfield th,
.ctct_table.ctct-components-eventspot-guestsectionfield th,
.ctct_table.ctct-components-eventspot-guestsectionfield .ctct-component-key-name,
.ctct_table.ctct-components-eventspot-registrant-registrantfee .ctct-component-key-id,
.ctct_table.ctct-components-eventspot-registrant-registrantsectionfield .ctct-component-key-type,
.ctct_table.ctct-components-eventspot-registrant-registrantsectionfield .ctct-component-key-name,
.ctct_table.ctct-components-eventspot-guestsection .ctct-component-key-type {
  display: none !important;
}
