.ctct_table .column-primary {
  width: 33%;
}
.ctct_table td {
  overflow: hidden;
  text-overflow: ellipsis;
}
.ctct_table.noborder,
.ctct_table.noborder th,
.ctct_table.noborder td {
  border: none!important;
}
.ctct_table.form-table th {
  padding-left: 10px;
}
.ctct_table .column-shortcode input {
  font-size: .9em;
  padding: 5px 2px;
  white-space: nowrap;
}
.ctct_table .ctct-lists {
  width: 100%;
}
.ctct_table .button .dashicons-external {
  font-size: 1rem;
  opacity: .6;
  margin-top: .25em;
  /*line-height: 1.666;*/
}
.ctct_table .is-expanded .button-group .button {
  background: none 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  color: #0073aa;
  -webkit-transition-property: border, background, color;
  transition-property: border, background, color;
  -webkit-transition-duration: .05s;
  transition-duration: .05s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.ctct_table .is-expanded .button-group .button + .button {
  margin-left: .5em;
  border-left: 1px solid #ccc;
  padding-left: .5em;
}
.ctct_table .is-expanded .button-group .button:hover,
.ctct_table .is-expanded .button-group .button:active {
  color: #00a0d2;
}
@media screen and (max-width: 782px) {
  .ctct_table.wp-list-table thead th.column-primary,
  .ctct_table th,
  .ctct_table td {
    display: block;
    width: 95%;
    padding: 5px 2.5% 7px;
    font-size: 1.1em;
    word-break: break-all;
  }
  .ctct_table thead th {
    text-transform: uppercase;
    font-weight: 600;
  }
  .ctct_table tbody th {
    font-weight: 500;
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }
}
