dl.ctct-component-section {

  display: block;
  width: 100%;

  dd, dt {
	font-size: 1.1em;
	display: inline-block;
	margin: 0;
	padding: .5em 0;
	border-bottom: 1px solid #f9f9f9;
  }

  dt {
	font-weight: bold;
	width: 30%;
  }

  dd {
	width: 70%;
  }
}