@import "logo";

#toplevel_page_constant-contact-api .wp-menu-image img {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent url(../../images/admin/logo.png) no-repeat;

  background-size: 50px;
  background-position: -11px 1px;
  background-clip: padding-box;
  width: 36px;
  height: 26px;
  padding-left: 36px;
}