@import "settings";
@import "tooltip";
@import "page";
@import "logo";
@import "contacts";
@import "summary-report";
@import "components";
@import "table";
@import "editable";
@import "eventspot";

.divider {
	height: 1px;
	padding: 0;
	border-width: 1px 0 0 0;
	border-style: solid;
	display: block;
	margin: 1.25em 0 1em;
	width:100%;
	color: #ccc;
}


.show-if-empty {
	display:none;
}
.show-if-empty h3 { text-align: center;}


.ctct-checkboxes {
	max-height: 300px;
	overflow-y: auto;
  	overflow-x: hidden;
}

.ctct_pointer { z-index: 1000000!important;}

.wp-pointer-left { margin-top: -69px;}
#menu-constant-contact-forms { display: block;}

.ctct-wrap p {
	font-size: 1.2em;
}

label.wrap {
	display: block;
	clear: both;
	margin: .5em 0;
}
label.wrap input {
	display: block;
}
.block {display: block;}


body .constant_contact_plugin_page_list {
	padding:10px 18px;
	border-radius: 0;
	left: 5px;
	border: 1px solid #aaa;
	max-width:80%;
	background: #fcfcfc;
}

.constant-contact_page_constant-contact-forms #screen-meta {
	z-index: 999999;
}
