.ctct_table {

  &.form-table {
    th {
      padding-left: 10px;
    }
  }

  .column-shortcode input {
    font-size: .9em;
    padding: 5px 2px;
    white-space: nowrap;
  }

  .ctct-lists {
    width: 100%;
  }

  .button .dashicons-external {
    font-size: 1rem;
    opacity: .6;
    margin-top: .25em;
    /*line-height: 1.666;*/
  }
}