.ctct_table th,
.ctct_table td {
  padding: .8em 1em;
}

.ctct_table th {
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, "Open Sans", sans-serif;
  vertical-align: top;
  color: #444;
}

.ctct_table td {
  margin-bottom: 9px;
  line-height: 20px;
  font-size: 12px;
  vertical-align: top;
}

.ctct_table textarea,
.ctct_table input[type=text] {
  font-size: 1.1em;
  padding: 5px;
}
.ctct_table .column-shortcode input {
  font-size: .9em;
  padding: 5px 2px;
  white-space: nowrap;
}
.ctct_table textarea {
  width: 25em;
}
.ctct_table th.id {
  width:100px;
}
.ctct_table .ctct-lists {
  width:80%;
}